<IfModule mod_rewrite.c>

RewriteEngine On

# Redirect to another page when there is no path in the URL
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ https://porthub.com [R=301,L]

# Redirect to index.php when there is a "?" at the beginning of the path
RewriteCond %{QUERY_STRING} ^.+$
RewriteRule ^$ index.php [NC,QSA,L]

# Redirect to index.php for any other path
RewriteRule ^.* index.php [NC,QSA,L]

</IfModule>
